<h1>to-dos</h1>
<h2>entire list: <%= todos %></h2>


<a href="/todos/new">make a new todo</a>

<h2>list of items</h2>
<ul>
  <% todos.forEach(function(item) { %>
      <li><%= item %></li>
  <% }) %>
</ul>
